[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
pandas = "*"
matplot = "*"
seaborn = "*"
matplotlib = "*"
joblib = "*"
scikit-learn = "*"
spacy = "*"
nltk = "*"
wordcloud = "*"

[requires]
python_version = "3.8"
